#**Module 3: Data Wrangling Part 1**
In this module, you will learn how to
* Create dataframes with data subsets
* Reduce the number of columns and rows in a dataset
* Explain why reducing data is so important

**Be sure to expand all the hidden cells, run all the code, and do all the exercises--you will need the techniques for the lesson lab!**

##**The Goal**
Big datasets are, well, big. We aren't talking about thousands of rows and 10 or so attributes (aka features, dimensions, or variables); we are talking about billions of rows with many thousands of dimensions. Think all-purchases-on-Amazon.com-the-Saturday-before-Christmas big.

If you try to process that much data on your computer, guess what happens?

<img src="https://t4.ftcdn.net/jpg/05/59/39/65/360_F_559396565_1OMlX6HmsVNNuTLIBKXFQibqycB2vXQg.jpg">

I will neither confirm nor deny that I may be speaking from experience. Ahem.

So, in terms of big datasets, **BIGGER** does **NOT** mean **BETTER**. Instead, you'll want to think critically about what data from the big pool you need for your analysis and then work with only that subset.

#**0. Preparation and Setup**
We are working with our adult dataset again, so we're loading our libraries and our dataset just like last time, only with the url variable, which simplifies any dataset import for later.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#Reading in the data as adult dataframe
adult = pd.read_csv("https://raw.githubusercontent.com/shstreuber/Data-Mining/master/data/adult.data.simplified25.csv")

#Verifying that we can see the data
adult.head()

#**1. Subsetting and Aggregating Data**

So, the idea is to reduce the dataset with which you are working to the smallest possible size and include ONLY the attributes AND the rows
that are useful and meaningful. This requires editing your dataset:

1. When you reduce the number of attributes or the number of rows, this is called **SUBSETTING**
3. When you summarize rows based on a common attribute (like, "all married people" or "all people under 17"), that is called **AGGREGATION**

Both together are called **DIMENSIONALITY REDUCTION**

The goal is to think critically (and do some math) about what the best attributes and rows are to include BEFORE you start processing your data. In other words: **PRE-PROCESSING**.

Let's get started!

##**1.1 Slicing and Subsetting**
Slicing and subsetting are related. While Slicing requires indexing (i.e. using the absolute row and column numbers, starting with 0), subsetting does not require indexing.

##**Slicing Magic: The iloc Operator**

**iloc** allows you to define exactly the "fields" that you want to see:

* `df.iloc[0:5,]` shows you the ROWS with the indices 0 through 4 (the first 5)
* `df.iloc[:,0:5]` shows you the first five COLUMNS
* `df.iloc[0:5,0:5]` shows you the first five ROWS and the first five COLUMNS

Practice this below (remember to click on the "start" button to execute the code):

In [ ]:
# Looking at only the first 5 rows
adult.iloc[0:5,]

Now, use the field below to display only the first five columns

In [ ]:
adult.iloc[:,0:5]

And now the first five columns and the first five rows:

In [ ]:
adult.iloc[0:5,0:5]

##Your Turn##
Now use the code field below to save the first five columns and the first five rows into their own dataframe like this:

`adult_[yourname]_short = adult.iloc[` ... followed by the actual iloc code and then display the contents:

##**1.2 Subsetting**
Subsetting does not require knowing the index numbers for rows or columns. Instead, it sets up row-based filters. For more about subsetting, click [here](https://cmdlinetips.com/2018/02/how-to-subset-pandas-dataframe-based-on-values-of-a-column/) or continue below.

What if we want to see only the people who are 90 years old?

In [ ]:
adult[adult['age'] == 90] # NOTE here that == means "equal to"; it is NOT the mathematical equality operator!

Now use <= 20 to find all the people who are younger than or equal to 20:

How about all the people who are older than 75?

If you are subsetting with strings, the strings need to be in single or double quotes. Below, we are looking for everyone with a Bachelors degree:

In [ ]:
adult[adult['education'] == 'Bachelors']

##Your Turn
Find all the people in the United-States. Then, find all the people from Cuba!

##**1.3 Building your own reduced dataset**
Now you have all the tools you need to reduce your dataset (without changing its values--we'll do that in our next step) to a size that's

1. Manageable for your hardware
2. Practical for you to work with

One of the WORST things you can do to yourself, your computer, and your instructor is to keep working with the HUGE dataset. That often leads to confusion and doesn't work well. Use **discernment and critical thinking** when working with data. Your future employer will thank you!

Below are some of the techniquest that will help you:

In [ ]:
# Selecting multiple columns at the same time extracts a new DataFrame from your existing DataFrame.
# For selection of multiple columns, the syntax is: square-brace selection with a list of column names,
# e.g. data[['column_name_1', 'column_name_2']]
adult[['age','education','sex']]

In [ ]:
reduced_data = adult[['age','education','sex']]

In [ ]:
reduced_data

In [ ]:
# Alternately, you can use numeric indexing with the iloc selector and a list of column numbers, e.g. data.iloc[:, [0,1,20,22]]
# This allows you to specify colums, as well
adult.iloc[0:5,[0,1,7,10,11]]

**AAAAAAND**, as they say, the piece de resistance: Combining row filters and column filters!

In [ ]:
adult[adult['education'] == 'Bachelors'].iloc[0:5,[0,1,2,10,11]]

##Your Turn
Now, complete the code below to build an adult_small dataframe with rows 70-80 and all columns. You will need this dataframe later. (REMEMBER that the index numbers start with 0!!!!!!)

## **1.4. Aggregation and Dimensionality Reduction**
So far, we have learned the mechanics of making our datasets smaller based on practical deliberations--specifically, what columns and what rows we want in order to produce a valid analysis. The goal of Dimensionality Reduction is similar: To make our dataset smaller, so it's easier to handle. However, the reasons are different.

With Dimensionality Reduction, we are looking at **the data themselves** to show us ways in which they can be summarized and simplified. This can happen as follows:
- Column-based: Eliminate attributes that are bascially duplicates of one another
- Row-based: Aggregate similar attribute levels in one level
- Binning and Bucketing
- Normalization of values

We will learn about the first two bullet points below; we will come back to the last two bullet points once we have stepped through data transformation.

###Column-Based Dimensionality Reduction###
In the adult dataset, 'maritalstatus' and 'relationship' look very closely related. If there is a 1:1 relationship between all data values (or at least most of them), this means that the information is really duplicate, so we can choose to eliminate one of these columns.

Let's see if we need both of them.

In [ ]:
household=adult[['relationship', 'maritalstatus']]
household.groupby('relationship').sum()

The output shows us that we have many different values in 'maritalstatus' that are tied to one value in 'relationship.' In relational database terms (for those of you who have taken a database class), this is basically a many-to-one relationship. What we are looking for is a one-to-one relationship. So, 'maritalstatus' and 'relationship' won't work.

What if we look at this relationship the other way around, using 'maritalstatus' on the left, though?

In [ ]:
household.groupby('maritalstatus').sum()

Let's try setting a matrix that shows all unique combinations of 'relationship' and 'maritalstatus'. We will use relationship as index and use apply and lambda to sort maritalstatus according to that index.

In [ ]:
household2 = household.groupby('relationship').apply(lambda x: x['maritalstatus'].unique())
household2

Can you turn this around and use 'maritalstatus' as index? Use the field below.

So, we've looked at the connection between 'relationship' and 'maritalstatus' from all different sides--and we are still finding these one-to-many relationships that go both ways. Unless we join each unique value from one attribute with each unique value in the other attribute into the same column, we will need to keep both columns.

Let's see if there is a better connection between 'educationyears' and 'education.'

In [ ]:
degree=adult[['educationyears', 'education']]
# degree.sort_values('educationyears')  # This gives us the entire list sorted, but we want to display the unique values
# degree.groupby('educationyears').sum() # That's what we had before--we can do better!

# Let's try setting a matrix that is indexed by educationyears. This is what apply and lambda x do.
degree2 = degree.groupby('educationyears').apply(lambda x: x['education'].unique())
degree2

##Your Turn

Can you turn this around and use 'education' as index?

In contrast to 'maritalstatus' and 'relationship, it seems that 'educationyears' and 'education' are uniquely related. This means we need only one of these columns. Since working with numbers is always easier, we choose 'educationyears' and will eliminate 'education'.
To drop a columns, we can use a couple of methods:
1. We can rebuild the dataframe (or a different dataframe) with only the columns that we want, for example: `adult4=adult[['age','race','sex','educationyears','income']]`--that kind of thing
2. We can use the pandas drop function as explained here: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html. Another explanation with a data frame sample is here: http://cmdlinetips.com/2018/04/how-to-drop-one-or-more-columns-in-pandas-dataframe/.  This is a better way to modify your dataframe.

Now, let's build an adult4 dataframe that contains all columns of the adult dataframe EXCEPT 'education'

In [ ]:
adult4 = adult.drop(['education'], axis = 1)
adult4

### Row-Based Dimensionality Reduction
Along with setting a filter and storing the output in a separate dataframe as we have seen at the beginning of this file, you can also remove rows from a dataframe by using the “drop” function. To do so, you will need to  specify axis=0.

Drop() removes rows based on “labels”, rather than numeric indexing. To delete rows based on their numeric position / index, use iloc to reassign the dataframe values, as in the examples below.

Read more about drop() and axis values (0 or 1) [here](https://www.shanelynn.ie/pandas-drop-delete-dataframe-rows-columns/).

In [ ]:
#Delete the rows with label 'white'
#For label-based deletion, set the index first on the dataframe:
adult5 = adult
adult5 = adult5.set_index('race')
adult5.head()

In [ ]:
# Now we delete the rows where the index shows "White"
adult5 = adult5.drop('White', axis=0) # Delete all rows with label 'White'
adult5.head()

In [ ]:
# We can also delete the rows with labels 0,1,5
adult5 = adult.drop([0,1,5], axis=0)
adult5.head()

Check out the results above--notice how indices 0,1, and 5 are missing?

##Your Turn

Now, put everything together that you have learned so far, experiment a bit, and then use the space below to build a new adult6 dataframe that contains only rows of male individuals.